* {
  margin: 0;
  padding: 0;
  user-select: none;
}

section,
section .container {
  width: 100%;
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}

section.Admin {
  background-color: #f0f0f0;
  max-height: 100vh;
  overflow: hidden;
}

section.Admin .ContainerContent {
  width: 80%;
}

section.Admin .ContainerContent .Content {
  padding: 20px;
  height: 90vh;
  overflow-y: scroll;
}

section.Admin .ContainerContent .Content::-webkit-scrollbar {
  width: 5px;
}

section.Admin .ContainerContent .Content::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
  border-radius: 10px;
}

.file-container {
  width: 100%;
  min-height: 250px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
